.menuScreen {
  color: white;
  text-align: center;
}
.menuScreen h1 {
  font-size: 72px;
  text-shadow: 0px 0px 5px black;
}
.title {
  position: relative;
}
.title p {
  color: rgb(252, 245, 235);
  font-weight: bold;
  font-size: 24px;
}
@keyframes spin {
  0% {
    rotate: 0deg;
    left: -250px;
  }
  100% {
    rotate: 360deg;
    left: 100%;
  }
}
.logo {
  position: relative;
  height: 300px;
}
.logo img {
  animation: spin 3s infinite linear;
  width: 300px;
  position: absolute;
}
.menuScreen h2 {
  font-size: 48px;
}
.options {
  display: flex;
}
.diffSelectButton {
  padding: 10px;
  font-size: 24px;
  margin: 10px;
  border: 5px solid rgb(201, 137, 55);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(201, 137, 55);
  color: white;
  background-color: rgb(201, 137, 55);
  transition: background-color 200ms, border-color 200ms;
  cursor: pointer;
}
.diffSelectButton:hover {
  background-color: rgb(233, 171, 91);
  border-color: rgb(233, 171, 91);
}
