.card {
  flex-basis: calc(20% - 0.4vw);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0.2vw;
  border: 0.2vw solid rgb(233, 171, 91);
  border-radius: 10px;
  transition: scale 200ms, rotate 500ms;
  background-color: rgb(233, 171, 91);
}
.card:hover {
  scale: 1.05;
  rotate: 5deg;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .card {
    flex-basis: calc(25% - 0.4vw);
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(100% / 3 - 0.4vw);
  }
}
@media screen and (max-width: 500px) {
  .card {
    border-width: 5px;
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
}
