.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80%;
  min-width: 400px;
  margin-inline: auto;
  color: white;
  font-size: 28px;
  --animation-speed: 720deg;
}
.scoreboard img {
  height: 100px;
  animation: spinanimation 10s infinite linear;
  border-radius: 50px;
}
@keyframes spinanimation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@media screen and (max-width: 1024px) {
  .scoreboard {
    font-size: 24px;
    padding: 5px;
    width: 95%;
  }
}
@media screen and (max-width: 500px) {
  .scoreboard {
    font-size: 22px;
    min-width: 100%;
    display: block;
    text-align: center;
  }
  .currentGameInfo {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 375px) {
  .scoreboard {
    font-size: 20px;
    min-width: 100%;
    display: block;
    text-align: center;
  }
  .currentGameInfo {
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
  }
}
